src/test/resources/schemas/soap/create_order.schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderId" type="xs:string"/>
              <xs:element name="Status" type="xs:string"/>
              <xs:element name="CreatedDate" type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>