src/test/resources/schemas/soap/genericError.schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Error">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code" type="xs:string"/>
              <xs:element name="Message" type="xs:string"/>
              <xs:element name="Details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>