src/test/resources/schemas/soap/get_user_details.schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UserDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UserId" type="xs:integer"/>
              <xs:element name="Username" type="xs:string"/>
              <xs:element name="Email" type="xs:string"/>
              <xs:element name="Status" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>